[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

[data-testid="stSidebar"] {
    width: 300px !important;
}

[title="View fullscreen"]{
    visibility: hidden;
}

.css-z5fcl4 {
    margin-top: -65px;
}

.css-52bwht.e1f1d6gn0 {
    margin-top: -65px;
}