[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

[data-testid="stSidebar"] {
    width: 300px !important;
}

[title="View fullscreen"]{
    visibility: hidden;
}

/*
.css-ocqkz7 {
    margin-top: -65px;
}
*/

.css-1v0mbdj {
    margin-top: -65px;
}


.css-z5fcl4 {
    margin-top: -65px;
}

